@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #f4f4f0;
  
  --color-accent: #d1c0a8;
  --color-offwhite: #f4f4f0;
  
  --font-serif: var(--font-serif);
  --font-sans: var(--font-sans);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
